@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: "Roboto", sans-serif;
}

.main-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-form {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  max-width: 400px;
  margin-inline: auto;
  border-radius: 8px;
  width: 100%;
}

.product-form .heading {
  margin-bottom: 1rem;
  font-size: 24px;
  line-height: 1.1;
  position: relative;
  padding-bottom: 3px;
}

.product-form .heading::before {
  content: '';
  display: block;
  position: absolute;
  width: 75%;
  bottom: 0;
  inset-inline: 0;
  border-bottom: 2px solid #d2d2fd;
  margin-inline: auto;
  display: table;
}

.product-form .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.product-form .form .form-control {
  width: 100%;
  padding: .5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.product-form .form .btn-submit {
  padding: .6rem;
  border: 0;
  border-radius: 40px;
  background-color: #d2d2fd;
  color: #000000;
  margin-top: .5rem;
  font-weight: 700;
  text-transform: uppercase;
}