* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #002020;
  --white: #ffffff;
  --border-default: #3d47514d;
}

body {
  background-color: var(--primary);
}

a {
  text-decoration: none;
  color: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
}

button:has(.active) {
  background-color: var(--white);
}
button:has(.active) a{
  color: var(--primary);
}